<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @interest.title %>
</p>

<% if user_signed_in? && @interest.user == current_user %>
  <%= link_to 'Edit', edit_interest_path(@interest) %> |
  <%= link_to 'Back', interests_path %>
<% end %>
