/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
   margin: 0;
   padding: 0;
 }
 .clearfix:after {
  content: "";
  clear: both;
  display: block;
}
 body {
   font-family: 'lucida grande',tahoma,verdana,arial,"hiragino kaku gothic pro",meiryo,"ms pgothic",sans-serif;
    font-size: 11px;
    background: #E9EAED;
 }

  .inner {
    width:980px;
    margin: 0 auto;
  }
#header {
  background: #456196;
  color: #fff;
  padding: 5px;
  position: relative;
}
#header a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 4px;
}
#header a:hover {
  /*text-decoration: underline;*/
  background: none;
  background: #3A5485;

}
#header ul.sns_login {
  float: right;
  list-style-type: none;
}
#header ul.sns_login li {
  float: right;
  margin-left: 20px;
}
#header ul.sns_login li a {
  display: block;
}
#header .user_name {
  /*float: right;*/
}
#logo {
  width: 130px;
  color: #456196;
  float: left;
  /*background: #fff;*/

}
#logo a {
  display: block;
  text-align: center;
  font-size: 40px;
  color: #456196;
  font-weight: bold;
  background: #fff;
  border-radius: 20px;

}
#logo a:hover {
  background: #fff;
  text-decoration: none;
  opacity: .7;
}

.user_img {
  /*float: right;*/
}
.user_info {
  margin-top: 7px;
  float: right;
}
.user_info span {
  vertical-align: middle;
}
.user_info span img {
  vertical-align: middle;
  border-radius: 50%;
}
