// Place all the styles related to the interests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#logo {
  font-size: 3rem;
  line-height: 4rem;
  a {
    text-decoration: none;
  }
}
