// Place all the styles related to the interests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#logo {
  font-size: 3rem;
  line-height: 4rem;
  a {
    text-decoration: none;
  }
}
.interestTitle {
  font-size: 1.6rem;
}
.commentsArea {
  padding: 30px;
  margin-top: 20px;
  .comment {
    // border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 5px;
    padding: 5px;
    background: #fff;
  }
}
.title {
  font-size: 20px;
}
.yaritaikoto {
  margin-bottom: 20px;
}
#content {
  padding-top: 30px;

}
table {
  margin-top: 30px;
}

td {
  padding: 10px;
  // border: 1px solid #ddd;
  background: #fff;

  &.btn  {
    background: #ddd;
    padding: 0;
    &:hover {
      background: #ccc;
    }
    a {
      text-decoration: none;
      display: block;
      line-height: 40px;
      padding: 0 10px;
      &:hover {
        background: none;
      }
    }
  }
}

.meTooBtn {
  display: inline-block;
  text-align: center;
  padding: 3px 5px;
  border-radius: 4px;
  color: #00f;
  background: #ccf;
  margin-top: 10px;
}
.empathy {
  color: #f00;
  background: #fcc;
}
.umempathy {
  color: #00f;
  background: #ccf;
}
